# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data (do not commit datasets)
data/raw/
data/processed/
data/interim/
data/*_idx.npy

# Logs & experiment tracking
logs/
runs/
wandb/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Models / checkpoints
*.pt
*.bin
*.ckpt
results/transformer/distilbert

# Misc
*.log

# Quarto / presentation builds
presentation.html
presentation_files/
.cache/deno
